@{
    ViewBag.title = "RVRWEB";
}
<div class="">
    <h1>Renan Rolo</h1>
    <h2 class="lead">"Desenrolando a Internet"</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Site Responsivo", "Responsivo", "Home")</h2>
        <p>
            Você sabe o que é um site responsivo?
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Sobre Renan", "Sobre", "Home")</h2>
        <p>
            Conheça esse carismático Programador .NET
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Trabalhos!", "Index", "Trabalhos")</h2>
        <p>
            Veja aqui os trabalhos feitos por Renan Rolo (“Eu”).
        </p>
    </div>
</div>



