@{
    ViewBag.Title = "Site Responsivo";
}

<h2>Veja boas práticas para fazer um site responsivo:</h2>
<br /><br />
<div>
    <img src="~/Images/Responsivo/20141114-20141114-06_system-fonts-vs-webfonts-1.gif" width="640" height="223"/>
    <br /><br />
    <img src="~/Images/Responsivo/20141114-20141114-3038367-inline-i-1-9-gifs-that-explain-responsive-design-brilliantly-01responsive-vs-adaptive-co.gif" />
    <br /><br />
    <img src="~/Images/Responsivo/20141114-20141114-3038367-inline-i-2-9-gifs-that-explain-responsive-design-brilliantly-02relative-units-vs-static-.gif" />
    <br /><br />
    <img src="~/Images/Responsivo/20141114-20141114-3038367-inline-i-3-9-gifs-that-explain-responsive-design-brilliantly-03with-breakpoints-vs-witho.gif" />
    <br /><br />
    <img src="~/Images/Responsivo/20141114-20141114-3038367-inline-i-4-9-gifs-that-explain-responsive-design-brilliantly-04flow-vs-static-2-copy.gif" />
    <br /><br />
    <img src="~/Images/Responsivo/20141114-20141114-3038367-inline-i-5-9-gifs-that-explain-responsive-design-brilliantly-05nested-vs-not-nested-1-co.gif" />
    <br /><br />
    <img src="~/Images/Responsivo/20141114-20141114-3038367-inline-i-7-9-gifs-that-explain-responsive-design-brilliantly-07max-width-vx-no-max-width.gif" />
    <br /><br />
    <img src="~/Images/Responsivo/20141114-20141114-3038367-inline-i-8-9-gifs-that-explain-responsive-design-brilliantly-08desktop-first-vs-mobile-f.gif" />
    <br /><br />
    <img src="~/Images/Responsivo/20141114-20141114-3038367-inline-i-9-9-gifs-that-explain-responsive-design-brilliantly-09vectors-vs-images-1-copy.gif" />
</div>
